<div class="container mt-5 mb-5">
  <div class="row">
    <h2 class="col-12 text-center">Contact Us</h2>
    <p class=" col-12 text-center top-text">Lets Meet together</p>
  </div
  >
  <!-- body -->
  <!-- form -->
  <div class="row body">
    <div class="col-12 col-lg-8">
      <h2>Contact Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure maxime at, quidem laudantium quaerat id accusamus exercitationem molestias perspiciatis rerum repudiandae iste deserunt, reprehenderit, similique nostrum nisi blanditiis vitae ipsa!</p>
      <div class="row details mt-5">
        <div class="col-4">
          <div class="img-container text-center">
            <img src="../../../assets/location.svg" alt="">
          </div>
          <h6 class="text-center mt-2">Address</h6>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure maxime at,</p>
        </div>
        <div class="col-4">
          <div class="img-container text-center">
            <img src="../../../assets/time.svg" alt="">
          </div>
          <h6 class="text-center mt-2">Opening Hours</h6>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure maxime at,</p>
        </div>
        <div class="col-4">
          <div class="img-container text-center">
            <img src="../../../assets/phone.svg" alt="">
          </div>
          <h6 class="text-center mt-2">Phone</h6>
          <p class="text-center">0123456789</p>
          <p class="text-center">0123456789</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 d-none d-lg-flex">
      <div class="form">
        <h3 class="text-center">Drop US</h3>
        <p class="text-center">Leave your contacts and we will reach you as soon as possible</p>
        <form [formGroup]="" (ngSubmit)="onSubmit()">
          <input type="text" class="form-control mt-3" placeholder="Your Name">
          <input type="email" class="form-control mt-3" placeholder="Your Email">
          <input type="text" class="form-control mt-3" placeholder="Number">
          <input type="submit" class="btn" value="Send A Message">
        </form>
      </div>
    </div>
  </div>
  <!-- mobile form -->
  <div class="form mobile-form d-lg-none mt-4">
    <h3 class="text-center">Drop US</h3>
    <p class="text-center">Leave your contacts and we will reach you as soon as possible</p>
    <form [formGroup]="" (ngSubmit)="onSubmit()">
      <input type="text" class="form-control mt-3" placeholder="Your Name">
      <input type="email" class="form-control mt-3" placeholder="Your Email">
      <input type="text" class="form-control mt-3" placeholder="Number">
      <input type="submit" class="btn" value="Send A Message">
    </form>
  </div>
  <!-- social -->
  <div class="row mt-5 social">
    <h3 class="mb-3">Other Ways To Reach Us</h3>
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-3">
          <img src="../../../assets/skin.png" alt="">
        </div>
        <div class="col-9">
          facebook Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla blanditiis odit minima atque impedit veniam quasi, a fugiat animi, sit deleniti. Quidem debitis, deserunt illo delectus minima quisquam fuga esse!
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-3">
          <img src="../../../assets/skin.png" alt="">
        </div>
        <div class="col-9">
          instagram Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nobis illo ab iusto reiciendis eius provident sit voluptatem error nulla laboriosam, quae iure numquam similique fuga consequuntur. Placeat, fuga sapiente!
        </div>
      </div>
    </div>
  </div>
</div>
<!-- subscripe -->
<div class="subscripe d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-9">
        Sign up now for our discount
      </div>
      <div class="col-3">
        <button class="btn">Sign Up</button>
      </div>
    </div>
  </div>
</div>