<div *ngIf="!isOn" class="overlay-loading">
    <div class="parent">
        <div class="entire"></div>
    </div>
</div>

<div class="container">
    <!-- title -->
    <div class="row content mb-3">
        <div class="col-12">
            <h2>My Address</h2>
            <p>Personal Information</p>
            <div class="seprator"></div>
        </div>
    </div>
    <!-- form -->
    <div class="form mb-5">
        <form [formGroup]="addressForm" (ngSubmit)="onSubmit()" class="">
            <div class="row success text-success" *ngIf="success">
                <div class="col-12">
                    {{success}}
                </div>
            </div>
            <div class="row error text-danger" *ngIf="error">
                <div class="col-12">
                    {{error}}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <label for="">Country</label>
                    <select class="form-select" aria-label="Default select example" formControlName="country" (change)="city($event)">
                      <option *ngFor="let country of countries" [value]="country.iso_code">{{country.name}}</option>
                    </select>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <label for="">City</label>
                    <select class="form-select" aria-label="Default select example" formControlName="city" (change)="region($event)">
                      <option *ngFor="let city of cities" [value]="city.name_en">{{city.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <label for="">Region</label>
                    <select class="form-select" aria-label="Default select example" formControlName="region">
                      <option *ngFor="let region of regions" [value]="region.name_en">{{region.name}}</option>
                    </select>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <label for="">Address 1</label>
                    <input type="text" formControlName="address" value="{{addressForm['address']}}">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <label for="">Address 2</label>
                    <input type="text" formControlName="address2" value="{{addressForm['address2']}}">
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <label for="">Floor Number</label>
                    <input type="text" formControlName="floor_number" value="{{addressForm['floor_number']}}">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <label for="">Department number</label>
                    <input type="text" formControlName="department_number" value="{{addressForm['department_number']}}">
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <label for="">Area</label>
                    <input type="text" formControlName="area" value="{{addressForm['area']}}">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <label for="">Street</label>
                    <input type="text" formControlName="street" value="{{addressForm['street']}}">
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <label for="">ZIP Code</label>
                    <input type="text" formControlName="zip_code" value="{{addressForm['zip_code']}}">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn mt-3" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>