<div class="container">
  <!-- title -->
  <div class="row content mb-3">
    <div class="col-12">
      <h2>My Address</h2>
      <p>Personal Information</p>
      <div class="seprator"></div>
    </div>
  </div>
  <!-- form -->
  <div class="form mb-5">
    <form [formGroup]="" (ngSubmit)="onSubmit()" class="">
      <div class="row mb-3">
        <div class="col-6">
          <label for="">Address 1</label>
          <input type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="">Address 2</label>
          <input type="text">
        </div>
      </div>
    </form>
  </div>
</div>
