<footer class="container-fluid bg-grey py-5">
    <div class="container" *ngIf="check">
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="row">
                    <div class="col-12">
                        <div class="logo-part">
                            <a [routerLink]="'.'">
                                <img src="../../../assets/toya-logo.svg" class="w-50 logo-footer">
                            </a>
                            <p>{{data.site_info.address}}</p>
                            <br>
                            <a [routerLink]="'contact-us'" class="btn-footer d-none d-md-inline">{{lang == 'ar'? 'تواصل معنا' : 'Contact Us'}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 d-md-none">
                <a [routerLink]="'contact-us'" class="btn-footer">{{lang == 'ar'? 'تواصل معنا' : 'Contact Us'}}</a>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6 px-md-5 my-3 my-md-0">
                        <h5>{{lang == 'ar'? 'المساعدة' : ' Help us'}}</h5>
                        <div class="row ">
                            <div class="col-6" *ngFor="let link of data.links">
                                <ul>
                                    <li> <a [href]="link.link"> {{link.name}}</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="social">
                            <a [href]="data.site_info.facebook"><img src="../../../assets/facebook.svg" alt=""></a>
                            <a [href]="data.site_info.instagram"><img src="../../../assets/instagram.svg" alt=""></a>
                            <a [href]="data.site_info.twitter"><img src="../../../assets/twitter.svg" alt=""></a>
                            <a [href]="data.site_info.youtube"><img src="../../../assets/youtube.svg" alt=""></a>
                        </div>
                        <!-- <form class="form-footer my-3">
                              <input type="text"  placeholder="search here...." name="search">
                              <input type="button" value="Go" >
                           </form> -->
                        <p class="mb-2 mt-2 sign-text">{{data.footer_data.footer_body}}</p>
                        <a [href]="data.footer_data.footer_button_url" class="btn signup">{{data.footer_data.footer_button_name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>