<ng-template #mymodal let-modal class="modal">
    <div class="modal-header">
        <!-- <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4> -->
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
        Your Product Added To Cart Successfuly.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<div *ngIf="data" class="toya-container">
    <!-- products section -->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 text-right">
            <img [src]="data.images[0].url">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h3 class="title">{{data.name}}</h3>
            <ul class="properties">
                <li *ngFor="let property of data.properties">
                    <span>{{property.name}}</span>
                    <p>{{property.value}}</p>
                </li>
            </ul>

            <div class="user-interact">
                <div class="user-quantity">
                    <input #quantity type="number" min="1" value="1" />
                </div>
                <div class="add-cart">
                    <button *ngIf="!data.addedCart" (click)="addToCart(data, mymodal)" id="product{{data.id}}" class="btn">Add to cart</button>
                    <button *ngIf="data.addedCart" (click)="addToCart(data)" id="product{{data.id}}" class="btn" disabled>Added to cart</button>
                </div>
                <div (click)="favourite(data.id)" *ngIf="isLogin" class="fav">
                    <img src="../../../assets/heart-product.svg">
                </div>
            </div>
            <div class="description">
                <h5>Description</h5>
                <p>
                    {{data.description}}
                </p>
            </div>
        </div>

    </div>

</div>