* {
    transition: all ease-in-out 0.5s;
}

.bar {
    width: 100%;
    height: 15px;
    background-color: #c46449;
}

.menu {
    position: absolute;
    top: 43px;
    left: 15px;
}

.navbar-brand {
    width: 100%;
    margin: 0;
    text-align: center;
}

.navbar-collapse {
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
}

nav.scroll {
    padding-bottom: 0px;
    position: fixed;
    top: -350px;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 12;
    box-shadow: 0px 1px 6px -4px #000;
}

.cart-icon {
    position: relative;
}

.cart-icon span {
    position: absolute;
    left: 40%;
    top: 11px;
}

nav.scroll.active {
    top: 0px;
}

nav.scroll .navbar-collapse {
    justify-content: initial;
}

nav.scroll .navbar-collapse img {
    width: 70px;
}

nav.scroll .navbar-collapse .nav-link {
    font-size: 16px;
    color: #000;
}

nav.scroll ul.side input#search-box {
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: 0px;
    border-right: none !important;
    box-shadow: none;
    border: 1px solid #cacaca;
    font-size: 17px;
    width: 250px;
    height: 33px;
    color: #000;
    font-family: sans-serif;
    padding: 3px 11px;
}

nav.scroll ul.side span.search-icon {
    width: 40px;
    height: 33px;
    display: inline-block;
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #c46449;
}

.nav-link {
    color: #6e6e6e;
    font-family: "Raleway Thin";
    font-size: 20px;
    font-weight: 700;
}

.dropdown-toggle::after {
    content: url(../../../assets/down-arrow.svg);
    border: none;
    vertical-align: unset;
    margin-left: 0.5em;
}

.side {
    align-self: flex-start;
    flex-direction: row;
    position: absolute;
    right: 26px;
}

.nav-logo {
    width: 83px;
    padding: 0px;
    margin: 0 auto;
}

.nav-logo>img {
    display: block;
    width: inherit;
}

.btn.dropdown-toggle:focus {
    box-shadow: none;
}

.logout {
    cursor: pointer;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #C4644C;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    right: 0;
    left: unset;
    position: absolute;
}

.lang {
    border: none;
    background: none;
    color: #b8b8b8;
    position: absolute;
    left: 80px;
    top: 45px;
}

@media (min-width: 992px) {
    .scroll .lang {
        top: 35px;
        left: unset;
        right: 160px;
    }
}

@media (max-width: 991px) {
    /* .main-nav {
        display: none;
    }
    .scroll {
        top: 0 !important;
    } */
}