*{
    transition: all ease-in-out 0.5s;
}
.bar{
    width: 100%;
    height: 15px;
    background-color: #c46449;
}
.menu{
    position: absolute;
    top: 40px;
    left: 15px;
}
.navbar-brand{
    width: 100%;
    margin: 0;
    text-align: center;
}
.navbar-collapse{
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
}
.nav-link{
    color: #6e6e6e;
    font-family: "Raleway Thin";
    font-size: 20px;
    font-weight: 700;
}
.dropdown-toggle::after{
    content: url(../../../assets/down-arrow.svg);
    border: none;
    vertical-align: unset;
    margin-left: 0.5em;
}
.side{
    align-self: flex-start;
    flex-direction: row;
    position: absolute;
    right: 26px;
}
.nav-logo{
    width: 83px;
    padding: 0px;
    margin: 0 auto;
}
.nav-logo >img{
    
    display: block;
    width: inherit;

}