<div class="bar"></div>

<nav class="navbar navbar-expand-lg">
  
  <button class="navbar-toggler menu" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>
  <a class="navbar-brand nav-logo navbar-toggler" [routerLink]="'.'"><img src="../../../assets/nav-logo.svg" alt="nav logo"> </a>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse mt-1">
    <ul class="navbar-nav mt-4">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Home</a>
      </li>
      
      <li ngbDropdown class="nav-item d-inline-block">
        <a class="nav-link" [routerLink]="'.'"  id="dropdownBasic1" ngbDropdownToggle>Shop</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Action - 1</button>
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Another Action</button>
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Something else is here</button>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">About</a>
      </li>
    </ul>
      
      <div [style.display]="!isMenuCollapsed ? 'none' : 'block'">
        <a  [routerLink]="'.'"> <img src="../../../assets/nav-logo.svg" alt="nav logo"> </a>
      </div>

    <ul class="navbar-nav mt-4">
      <li ngbDropdown class="nav-item d-inline-block">
        <a class="nav-link" [routerLink]="'.'" id="dropdownBasic1" ngbDropdownToggle>Our Company</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Action - 1</button>
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Another Action</button>
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Something else is here</button>
        </div>
      </li>

      <li ngbDropdown class="nav-item d-inline-block">
        <a class="nav-link" [routerLink]="'.'" id="dropdownBasic1" ngbDropdownToggle>Contact</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Action - 1</button>
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Another Action</button>
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Something else is here</button>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Blog</a>
      </li>
    </ul>

  </div>
  <ul class="navbar-nav mt-4 side">
    <li class="nav-item mr-4">
      <a class="nav-link" [routerLink]="'.'" ><img src="../../../assets/search.png" alt=""></a>
    </li>
    <li class="nav-item mr-4">
      <a class="nav-link" [routerLink]="'.'" ><img src="../../../assets/profile.png" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'.'" ><img src="../../../assets/cart.png" alt=""></a>
    </li>
  </ul>

</nav>
<!-- NavBar with Window Scroll -->
<nav class="navbar navbar-expand-lg scroll">
  
  <button class="navbar-toggler menu" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>
  <a class="navbar-brand nav-logo navbar-toggler" [routerLink]="'.'"><img src="../../../assets/nav-logo-scroll.svg" alt="nav logo"> </a>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse mt-1">
    <div [style.display]="!isMenuCollapsed ? 'none' : 'block'">
      <a  [routerLink]="'.'"> <img src="../../../assets/nav-logo-scroll.svg" alt="nav logo"> </a>
    </div>
    <ul class="navbar-nav mt-3">
      <li class="nav-item ml-3 active">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Home</a>
      </li>
      
      <li ngbDropdown class="nav-item ml-3 d-inline-block">
        <a class="nav-link" [routerLink]="'.'"  id="dropdownBasic1" ngbDropdownToggle>Shop</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Action - 1</button>
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Another Action</button>
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Something else is here</button>
        </div>
      </li>

      <li class="nav-item ml-3">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">About</a>
      </li>
      <li ngbDropdown class="nav-item ml-3 d-inline-block">
        <a class="nav-link" [routerLink]="'.'" id="dropdownBasic1" ngbDropdownToggle>Our Company</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Action - 1</button>
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Another Action</button>
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Something else is here</button>
        </div>
      </li>

      <li ngbDropdown class="nav-item ml-3 d-inline-block">
        <a class="nav-link" [routerLink]="'.'" id="dropdownBasic1" ngbDropdownToggle>Contact</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Action - 1</button>
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Another Action</button>
          <button ngbDropdownItem (click)="isMenuCollapsed = true">Something else is here</button>
        </div>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Blog</a>
      </li>
    </ul>
      
      

  </div>
  <ul class="navbar-nav mt-3 side">
    <li class="nav-item mr-4">
      <a class="nav-link" [routerLink]="'.'" >
        <input type="text" name="search" id="search-box" placeholder="Search..." />
        <span class="search-icon">
          <img src="../../../assets/search-white.svg" alt="">
        </span>
      </a>
    </li>
    <li class="nav-item mr-4">
      <a class="nav-link" [routerLink]="'.'" ><img src="../../../assets/profile.png" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'.'" ><img src="../../../assets/cart.png" alt=""></a>
    </li>
  </ul>

</nav>

