<h2 class="text-center">Categories</h2>

<!-- category blocks -->
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="cat-block">
        <img src="../../../../assets/skin.png" alt="">
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="cat-block">
        <img src="../../../../assets/weight.png" alt="">
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="cat-block">
        <img src="../../../../assets/hair.png" alt="">
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="cat-block">
        <img src="../../../../assets/hygene.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="seperate text-center mt-5 mb-5">
  <img src="../../../../assets/seperate.png" alt="">
</div>

<!-- category -->
<div class="container">
  <div class="row cat-nav">
    <ul class="nav text-center">
      <li class="nav-item col-3">
        <a class="nav-link active">Best Seller</a>
      </li>
      <li class="nav-item col-3">
        <a class="nav-link">Super Deals</a>
      </li>
      <li class="nav-item col-3">
        <a class="nav-link ">Trending Now</a>
      </li>
      <li class="nav-item col-3">
        <a class="nav-link">New Arrival</a>
      </li>
    </ul>
  </div>

  <div class="row mt-5 product">

    <div class="cat col-3 text-center">
      <div class="cat-top">
        <div class="discount">10% OFF</div>
        <img src="../../../../assets/hair.png" alt="">
      </div>
      <p class="mt-5">REVIVE CONDITIONER</p>
      <div>
        <ngb-rating [max]="6" [(rate)]="currentRate">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>    
      </div>
      <div class="price mt-5 mb-5">
        <div class="off">180<span class="currency"> EG</span><span class="line"></span></div> 
        <span class="new">150<span class="currency"> EG</span></span>
      </div>
    </div>

    <div class="cat col-3 text-center">
      <div class="cat-top">
        <div class="discount">10% OFF</div>
        <img src="../../../../assets/hair.png" alt="">
      </div>
      <p class="mt-5">REVIVE CONDITIONER</p>
      <div>
        <ngb-rating [max]="6" [(rate)]="currentRate">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>    
      </div>
      <div class="price mt-5 mb-5">
        <div class="off">180<span class="currency"> EG</span><span class="line"></span></div> 
        <span class="new">150<span class="currency"> EG</span></span>
      </div>
    </div>

    <div class="cat col-3 text-center">
      <div class="cat-top">
        <div class="discount">10% OFF</div>
        <img src="../../../../assets/hair.png" alt="">
      </div>
      <p class="mt-5">REVIVE CONDITIONER</p>
      <div>
        <ngb-rating [max]="6" [(rate)]="currentRate">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>    
      </div>
      <div class="price mt-5 mb-5">
        <div class="off">180<span class="currency"> EG</span><span class="line"></span></div> 
        <span class="new">150<span class="currency"> EG</span></span>
      </div>
    </div>

  </div>
  <div class="row mt-5 viewall">
    <a class="btn">View All</a>
  </div>

</div>

<!-- Blogs -->

<!-- product -->

<h2 class="text-center">Best Seller</h2>
<div class="container">
<div class="row mt-5 product">

  <div class="cat col-3 text-center">
    <div class="cat-top">
      <div class="discount">10% OFF</div>
      <img src="../../../../assets/hair.png" alt="">
    </div>
    <p class="mt-5">REVIVE CONDITIONER</p>
    <div>
      <ngb-rating [max]="6" [(rate)]="currentRate">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100">&#9733;</span>
        </ng-template>
      </ngb-rating>    
    </div>
    <div class="price mt-5 mb-5">
      <div class="off">180<span class="currency"> EG</span><span class="line"></span></div> 
      <span class="new">150<span class="currency"> EG</span></span>
    </div>
  </div>

  <div class="cat col-3 text-center">
    <div class="cat-top">
      <div class="discount">10% OFF</div>
      <img src="../../../../assets/hair.png" alt="">
    </div>
    <p class="mt-5">REVIVE CONDITIONER</p>
    <div>
      <ngb-rating [max]="6" [(rate)]="currentRate">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100">&#9733;</span>
        </ng-template>
      </ngb-rating>    
    </div>
    <div class="price mt-5 mb-5">
      <div class="off">180<span class="currency"> EG</span><span class="line"></span></div> 
      <span class="new">150<span class="currency"> EG</span></span>
    </div>
  </div>

  <div class="cat col-3 text-center">
    <div class="cat-top">
      <div class="discount">10% OFF</div>
      <img src="../../../../assets/hair.png" alt="">
    </div>
    <p class="mt-5">REVIVE CONDITIONER</p>
    <div>
      <ngb-rating [max]="6" [(rate)]="currentRate">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100">&#9733;</span>
        </ng-template>
      </ngb-rating>    
    </div>
    <div class="price mt-5 mb-5">
      <div class="off">180<span class="currency"> EG</span><span class="line"></span></div> 
      <span class="new">150<span class="currency"> EG</span></span>
    </div>
  </div>

</div>
<div class="row mt-5 viewall">
  <a class="btn">View All</a>
</div>
</div>