/* cat product */

.viewall {
    justify-content: center;
}

.viewall .btn {
    width: 173px;
    border: 1px solid #c46449;
    color: #c46449;
    font-size: 17px;
    font-weight: bold;
    border-radius: 50px;
    line-height: 2rem;
}

.viewall .btn:hover {
    background-color: #c46449;
    color: #fff;
}


/* recent section */

h2 {
    color: #c46449;
    font-size: 36px;
    font-weight: bold;
    margin: 56px 0 20px;
}


/* block product */

.cat {
    border: 1px solid #d1d1d1;
    background-color: #f9f9f9;
    position: relative;
    display: inline-block;
    width: calc(76% / 4);
    margin: 0px 3% 10px;
}

.cat-top .discount {
    background-image: url('../../../assets/discount.svg');
    color: #f9f9f9;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    left: 0;
    background-position: right;
    padding-right: 27px;
}

.cat-top .discount span {
    display: inline-block;
}

.cat-top img {
    width: 80%;
    margin-top: 20px;
}

.cat p {
    color: #c46449;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}

.price .off {
    color: #606060;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

.currency {
    font-size: 15px;
}

.line {
    border-top: 1px solid;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 49%;
    left: 0;
}

.new {
    color: #c46449;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    /* margin-left: 15px; */
}

.cat .add-cart {
    position: absolute;
    top: 125px;
    width: 50%;
    left: 25%;
    opacity: 0;
    transition: top ease-in-out 0.3s, opacity 0.5s ease-in-out;
}

.cat .btn {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #fc8f77;
    line-height: 2.5rem;
    padding: 0px 10px;
    border-radius: 15px;
}

.cat:hover .add-cart {
    top: 133px;
    opacity: 1;
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show>.btn-outline-dark.dropdown-toggle,
.btn-outline-dark:hover {
    background-color: #c45239;
    border-color: #c45239;
}


/* alert */

.alert {
    position: fixed;
    top: 120px;
    right: 50px;
    width: 300px;
    z-index: 999;
}


/* responsive */

@media(max-width: 991px) {
    .products .col-lg-4 a {
        margin: 0;
    }
    .cat {
        width: calc(80% / 1);
        margin: 0px 10% 10px;
    }
    .cat .add-cart {
        bottom: 0 !important;
        top: unset !important;
        width: 100%;
        left: 0 !important;
        opacity: 1;
    }
    .cat .btn {
        width: 100%;
        border-radius: 0;
    }
}

.star {
    font-size: 1.5rem;
    color: #b0c4de;
}

.filled {
    color: #c46449;
}