<div *ngIf="!isOn" class="overlay-loading">
    <div class="parent">
        <div class="entire"></div>
    </div>
</div>

<div class="container">
    <!-- title -->
    <div class="row content mb-3">
        <div class="col-12">
            <h2>{{lang == 'ar'? 'المفضلة' : 'My Favourites'}}</h2>
            <div class="seprator"></div>
        </div>
    </div>
    <!-- products -->
    <div class="row mt-5 product" *ngIf="products">
        <div class="fav text-center mb-3" *ngFor="let product of products">
            <a [routerLink]="['/product', product.id]">
                <div class="fav-top">
                    <div *ngIf="product.discount_percentage" class="discount"><span>{{product.discount_percentage}}% OFF</span></div>
                    <img [src]="product.images[0].url" alt="">
                </div>
                <p class="mt-3">{{product.name}}</p>
                <div class="price mt-3 mb-5">
                    <div class="off">{{product.price}}<span class="currency"> EG</span><span class="line"></span></div>
                    <span class="new">{{product.price - product.price * product.discount_percentage / 100}}<span class="currency"> EG</span></span>
                </div>
            </a>
            <div class="delete" (click)="delete(product.id)">x</div>
            <div class="add-cart">
                <button *ngIf="!product.addedCart" (click)="addToCart(product)" id="product{{product.id}}" class="btn">{{lang == 'ar'? 'أضف للسلة' : 'Add to cart'}}</button>
                <button *ngIf="product.addedCart" (click)="addToCart(product)" id="product{{product.id}}" class="btn" disabled>{{lang == 'ar'? 'أضيف للسلة' : 'Added to cart'}}</button>
            </div>
        </div>
    </div>
</div>