<div class="container">
    <!-- title -->
    <div class="row content mb-3">
        <div class="col-12">
            <h2>My Orders</h2>
        </div>
    </div>
    <!-- products -->
    <div class="seprator mt-3 mb-3"></div>
    <div class="products mb-5" *ngFor="let order of orders">
        <div class="product row">
            <div class="col-6 col-lg-3">
                <img src="{{order.product_order[0].images[0].url}}" alt="">
            </div>
            <div class="col-6 col-lg-3">
                <a *ngFor="let product of order.product_order" [routerLink]="['/product', product.id]">
                    <p class="title">{{product.name}}</p>
                </a>
                <p class="date">18 jan 2021 13:12</p>
                <p class="order-id">Order Id: {{order.id}}</p>
                <p class="d-lg-none">{{order.status}}</p>
            </div>
            <div class="col-lg-2 d-none d-lg-block">
                <p>{{order.status}}</p>
            </div>
            <div class="col-12 col-lg-4" *ngIf="order.status === 'Pending'">
                <div class="row">
                    <div class="col-6">
                        <a (click)="cancel(order.id)" class="btn">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seprator mt-3 mb-3"></div>
    </div>
</div>