/* content */
.content h2{
    color: #c46449;
    font-family: "Raleway Thin";
    font-size: 46px;
    font-weight: bold;
}
.content p{
    color: #fc8f77;
    font-family: "Raleway Thin";
    font-size: 31px;
    font-weight: bold;
}
/* products */
.products .seprator{
    width: 100%;
    border: 1px solid #c46449;
}
.products .col-3 img{
    width: 100%;
}
.products .col-3 p{
    color: #fc8f77;
    font-family: "Raleway Thin";
    font-size: 16px;
    margin: 10% 0;
}
.products .col-3 p.title{
    font-weight: bold;
}
.products .col-2 p{
    color: #0c2747;
    font-family: Raleway;
    font-size: 16px;
    margin: 50% 0;
}
.products .col-4 .row{
    justify-content: center;
}
.products .col-4 a{
    color: #efddc5;
    font-family: Raleway;
    font-size: 15px;
    background-color: #0c2747;
    width: 100%;
    margin: 50% 0;
}