<div class="container mt-5 mb-5">
  <div class="row">
    <h2 class="col-12 text-center">About Us</h2>
    <p class=" col-12 text-center top-text">Lets Know More About The Journey</p>
  </div>

  <!-- about-us content -->
  <div class="row content mt-3">
    <div class="col-12 col-lg-6 description">
        <h2>Our Vesion</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit voluptate inventore repellat repudiandae accusamus sapiente. Itaque ullam, eaque tempora alias, similique totam fugit voluptatem placeat ex mollitia facere quidem inventore.</p>
    </div>
    <div class="col-12 col-lg-6">
      <div class="img-container">
        <img src="../../../assets/hygene.png" alt="">
      </div>
    </div>
  </div>
  <div class="row content mt-5">
    <div class="col-12 col-lg-6">
      <div class="img-container">
        <img src="../../../assets/hygene.png" alt="">
      </div>
    </div>
    <div class="col-12 col-lg-6 description">
        <h2>Our Vesion</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit voluptate inventore repellat repudiandae accusamus sapiente. Itaque ullam, eaque tempora alias, similique totam fugit voluptatem placeat ex mollitia facere quidem inventore.</p>
    </div>
  </div>
</div>