<div class="checkout-head text-center">
  <h1>Shipping Details</h1>
  <h5>Type Your Personal Data</h5>
</div>
<div class="container checkout mb-5 mt-5">
  <div class="col-md-6 col-lg-6 col-sm-12">
    <form [formGroup]="confirmForm" (ngSubmit)="confirm()">

            <div class="row">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">First name</label>
                <input formControlName="firstName" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && confirmForm.controls.firstName.errors }" id="firstName">
                <div *ngIf="submitted && confirmForm.controls.firstName.errors" class="invalid-feedback">
                  <div *ngIf="confirmForm.controls.firstName.errors.required">First Name is required</div>
                  <div *ngIf="confirmForm.controls.firstName.errors.minlength">First Name must more than 2 characters</div>
                </div>
              </div>

              <div class="col-sm-6">
                <label for="lastName" class="form-label">Last name</label>
                <input formControlName="lastName" type="text" class="form-control" id="lastName" [ngClass]="{ 'is-invalid': submitted && confirmForm.controls.lastName.errors }">
                <div *ngIf="submitted && confirmForm.controls.lastName.errors" class="invalid-feedback">
                  <div *ngIf="confirmForm.controls.lastName.errors.required">Last Name is required</div>
                  <div *ngIf="confirmForm.controls.lastName.errors.minlength">Last Name must more than 2 characters</div>
                </div>
              </div>

              <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="you@example.com"  [ngClass]="{ 'is-invalid': submitted && confirmForm.controls.email.errors }">
                <div *ngIf="submitted && confirmForm.controls.email.errors" class="invalid-feedback">
                  <div *ngIf="confirmForm.controls.email.errors.required">Email is required</div>
                </div>
              </div>

              <div class="col-12">
                <label for="phone" class="form-label">Phone</label>
                <input formControlName="phone" type="phone" class="form-control" id="phone"  [ngClass]="{ 'is-invalid': submitted && confirmForm.controls.phone.errors }">
                <div *ngIf="submitted && confirmForm.controls.phone.errors" class="invalid-feedback">
                  <div *ngIf="confirmForm.controls.phone.errors.required">phone is required</div>
                  <div *ngIf="confirmForm.controls.phone.errors.pattern">Invalid Phone Number</div>
                </div>
              </div>

              <div class="col-12">
                <label for="address" class="form-label">Address</label>
                <input formControlName="address" type="text" class="form-control" id="address"  [ngClass]="{ 'is-invalid': submitted && confirmForm.controls.address.errors }">
                <div *ngIf="submitted && confirmForm.controls.address.errors" class="invalid-feedback">
                  <div *ngIf="confirmForm.controls.address.errors.required">Address is required</div>
                </div>
              </div>

              <div class="col-12">
                <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
                <input address2="firstName" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
              </div>

              <div class="col-12">
                <label for="country" class="form-label">Country</label>
                <select  formControlName="country" (change)="onChangeCountry($event)" class="form-select" id="country"  [ngClass]="{ 'is-invalid': submitted && confirmForm.controls.country.errors }">
                  <option value="">Choose...</option>
                  <option *ngFor="let country of countriesList" value="{{country.iso_code}}">{{country.name}}</option>
                </select>
                <div *ngIf="submitted && confirmForm.controls.country.errors" class="invalid-feedback">
                  <div *ngIf="confirmForm.controls.country.errors.required">Country is required</div>
                </div>
              </div>

              <div class="col-md-4">
                <label for="city" class="form-label">City</label>
                <select  formControlName="city" (change)="onChangeCity($event)" class="form-select" id="city"  [ngClass]="{ 'is-invalid': submitted && confirmForm.controls.city.errors }">
                  <option value="">Choose...</option>
                  <option *ngFor="let city of citiesList" value="{{city.name_en}}">{{city.name}}</option>
                </select>
                <div *ngIf="submitted && confirmForm.controls.city.errors" class="invalid-feedback">
                  <div *ngIf="confirmForm.controls.city.errors.required">City is required</div>
                </div>
              </div>

              <div class="col-md-4">
                <label for="region" class="form-label">Region</label>
                <select  formControlName="region" class="form-select" id="region"  [ngClass]="{ 'is-invalid': submitted && confirmForm.controls.region.errors }">
                  <option value="">Choose...</option>
                  <option *ngFor="let region of regionsList" value="{{region.name_en}}">{{region.name}}</option>
                </select>
                <div *ngIf="submitted && confirmForm.controls.region.errors" class="invalid-feedback">
                  <div *ngIf="confirmForm.controls.region.errors.required">Region is required</div>
                </div>
              </div>

              <div class="col-md-3">
                <label for="zip" class="form-label">Zip</label>
                <input  formControlName="zip" type="text" class="form-control" id="zip" placeholder="" required="">
              </div>
            </div>
            <div class="btn-container">
              <button type="submit" class="btn checkout">
                Confirm Order
              </button>
            </div>
          </form>

        </div>

</div>
