/* links */

.links {
    font-size: 20px;
}

.links a {
    margin: 0 10px;
    color: #a3a3a3;
}

.links a:hover {
    color: #a3a3a3;
}


/* title */

h2 {
    color: #c46449;
    font-size: 49px;
    font-weight: bold;
    margin: 56px 0 20px;
}


/* menu */

.menu {
    list-style: none;
}

.menu li {
    margin: 20px 0;
    cursor: pointer;
}

.menu li span {
    display: inline-block;
    width: 25px;
    margin: 0 10px;
}

.menu li span img {
    width: 100%;
}

.menu li.active {
    color: #c46449;
}