.filter-bar {
    border: 1px solid #d1d1d1;
    padding: 8px;
    position: relative;
    color: #b2b2b2;
    font-size: 14px;
}

.filter-bar p {
    display: inline-block;
    margin-bottom: 0;
}

.filter-bar .result {
    position: absolute;
    right: 15px;
}


/* block product */

.product {
    border: 1px solid #d1d1d1;
    background-color: #f9f9f9;
    position: relative;
    display: inline-block;
    width: calc(95% / 4);
    margin: 0px 0.6% 10px;
}

.delete {
    position: absolute;
    right: 10px;
    font-size: 25px;
    top: 0px;
    color: #c45239;
    opacity: 0;
    transition: top ease-in-out 0.3s, opacity 0.5s ease-in-out;
    cursor: pointer;
}

.product-top .discount {
    background-image: url('../../../assets/discount.svg');
    color: #f9f9f9;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    left: 0;
    background-position: right;
    padding-right: 27px;
}

.product-top .discount span {
    display: inline-block;
}

.product-top img {
    width: 80%;
    margin-top: 20px;
}

.product p {
    color: #c46449;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}

.price .off {
    color: #606060;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    position: relative;
}

.currency {
    font-size: 15px;
}

.line {
    border-top: 1px solid;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 49%;
    left: 0;
}

.new {
    color: #c46449;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    margin-left: 15px;
}

.product .add-cart {
    position: absolute;
    top: 125px;
    width: 50%;
    left: 25%;
    opacity: 0;
    transition: top ease-in-out 0.3s, opacity 0.5s ease-in-out;
}

.product .btn {
    color: #ffffff;
    font-family: "Raleway Thin";
    font-size: 0.7rem;
    font-weight: bold;
    background-color: #c45239;
    line-height: 2.5rem;
    padding: 0px 10px;
    border-radius: 15px;
}

.product:hover .add-cart {
    top: 133px;
    opacity: 1;
}

.btn.focus,
.btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(252 143 119 / 25%);
}

.product:hover .add-cart {
    top: 133px;
    opacity: 1;
}

.viewall {
    justify-content: center;
}

.viewall .btn {
    width: 173px;
    border: 1px solid #c46449;
    color: #c46449;
    font-family: "Raleway Thin";
    font-size: 17px;
    font-weight: bold;
    border-radius: 50px;
    line-height: 2rem;
}

.viewall .btn:hover {
    background-color: #c46449;
    color: #fff;
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show>.btn-outline-dark.dropdown-toggle,
.btn-outline-dark:hover {
    background-color: #c45239;
    border-color: #c45239;
}


/*body*/


/* @media(max-width: 768px) {
    .product {
        width: 95%;
    }
} */

@media (max-width: 1200px) and (min-width: 768px) {
    .product {
        width: calc(95% / 2);
    }
}

@media (max-width: 1332px) and (min-width: 1200px) {
    .product {
        width: calc(95% / 3);
    }
}


/*filter list*/

h3 {
    color: #0c2747;
    font-family: "Raleway Thin";
}

.filter-section {
    float: left;
    margin-top: 56px;
}

.filter-section .form-control:focus {
    border-color: rgb(252 143 119);
    box-shadow: 0 0 0 0.2rem rgb(252 143 119 / 25%);
}

app-cart {
    float: left;
    margin-top: 56px;
}


/*products*/

.products {
    text-align: left;
    float: left;
}


/* alert */

.alert {
    position: fixed;
    top: 120px;
    right: 50px;
    width: 300px;
    z-index: 999;
}


/* responsive */

@media(max-width: 991px) {
    .products .col-lg-4 a {
        margin: 0;
    }
    .product {
        width: calc(95% / 2);
        margin: 0px 1% 10px;
    }
    .product .add-cart {
        bottom: 0 !important;
        top: unset !important;
        width: 100%;
        left: 0 !important;
        opacity: 1;
    }
    .product .btn {
        width: 100%;
        border-radius: 0;
    }
}