.filter-bar{
    border: 1px solid #d1d1d1;
    padding: 15px;
    position: relative;
}
.filter-bar p{
    display: inline-block;
    margin-bottom: 0;
}
.filter-bar .result{
    position:absolute;
    right: 15px;
}

/*body*/
@media (min-width: 1200px){
    .body{
        max-width: 100%;
        padding: 0 2%;
    }
}

/*filter list*/

.filter-list{
    list-style: none;
    padding: 20px;
    border: 1px solid #d1d1d1;
    background-color: #f9f9f9;
}
.filter-list li{
    color:#c46449;
    border-bottom: 1px solid #d1d1d1;
    font-size: 20px;
    padding: 10px 0;
    position: relative;
    cursor: pointer;
}
.filter-list li span{
    position: absolute;
    right: 0;
}

